//table
.table .thead-dark th {
    color: #3b3b3b;
    background-color: $secondary !important;
    border: $secondary !important;
}

th {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    text-transform: capitalize;
}

//Inputs

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

//Body
body {
    font-size: 0.9rem;
    color: #3b3b3b;
}

//
.thead-light {
    background: #3b3b3b;
}

//upload file
.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Ver" !important;
}

//tabs
.nav-tabs {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.nav-tabs .nav-link {
    border: none;
    border-radius: 0;
    transition: color .2s ease-out;
}

.tabs-dark .nav-link {
    color: #fff;
}

.tabs-light .nav-link {
    color: rgba(0, 0, 0, .5);
}

.tabs-dark .nav-link:not(.active):hover {
    color: #aeb0b3;
}

.tabs-light .nav-link:not(.active):hover {
    color: #495057;
}

.nav-pills .nav-link {
    border-radius: 2px;
    color: #495057;
    transition: color .2s ease-out, box-shadow .2s;
}

.nav-pills .nav-link:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.nav-pills .nav-item {
    margin: 0 5px;
}

.nav-pills.pills-dark .nav-link.active {
    background-color: #343a40 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.nav-pills.pills-dark .nav-link:not(.active):hover {
    color: #1d1e22;
}

//Table head
.table .thead-light th {
    color: #3b3b3b;
    background-color: lightgrey;
    border-color: lightgrey;
    padding: 12px 0px 10px 12px;
}

//HR
hr {
    margin: 1rem 0rem;
    border: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

//login allegra
.login_allegra {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0 auto;
}

//icons menu
@media (min-width: 768px) {
    .sidebar .nav-item .nav-link i {
        font-size: 1.8rem;
        margin-right: 0.25rem;
    }
}

//select 2 container
.select2-container--bootstrap {
    display: block;
    width: auto !important;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #d1d3e2 !important;
}

//boostrap arrow order thead
table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    top: 50%;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
    transform: translateY(-110%);
}

//Datatable
.pagination {
    float: left;
}

.select2-selection--single .select2-selection__rendered {
    color: #6e707e !important;
    padding: 0;
}

.select2 .select2-container .select2-container--bootstrap {
    width: auto;
}

.select2-container--bootstrap .select2-selection {
    display: block !important;
    height: -webkit-calc(1.5em + 0.75rem + 2px) !important;
    min-height: calc(1.5em + 0.75rem + 2px) !important;
    height: auto !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #6e707e !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #d1d3e2 !important;
    border-radius: 0.35rem !important;
    box-shadow: none !important;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
}

//Upload Avatar
.file-upload {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: relative;
    padding: 19px;
    width: auto;
    height: auto;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed $primary;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: $gray-200;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: $primary;
    padding: 10px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all 0.2s ease;
}

.avatar {
    background-color: grey;
    background-size: 20px;
    max-width: 200px;
    height: 200px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

//card
.card {
    border-radius: 0px;
}

.cs-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    Background: $primary;
    z-index: 99999999;
}

.heigh100 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100vh;
    width: 100%;
}

.cs-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: 100%;
    color: #FFF;
    padding: 0 100px;
    text-align: center;
}

.cs-loader-inner label {
    font-size: 20px;
    opacity: 0;
    display: inline-block;
}

@keyframes lol {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        transform: translateX(0px);
    }
    66% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

@-webkit-keyframes lol {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
    }
}

.cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
}


/*CRUD VIEW*/

h6 {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 6px;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .search-datatables {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    #dataTable_filter>label {
        padding: 0px;
    }
    #dataTable_filter>label>input {
        margin: 10px 0px 8px 0px;
        width: 100%;
        height: 37px;
    }
    .buttons-page-length,
    .buttons-datatables {
        display: none;
    }
    .add-worker {
        width: 100%;
    }
    .nav-tabs .nav-item {
        width: 100%;
    }
}